#switch
NET "clk"		LOC = AC18      | IOSTANDARD = LVCMOS18 ;
NET "SW[0]"				LOC = AA10  | IOSTANDARD = LVCMOS15 ;
NET "SW[1]"				LOC = AB10  | IOSTANDARD = LVCMOS15 ;
NET "SW[2]"				LOC = AA13  | IOSTANDARD = LVCMOS15 ;
NET "SW[3]"				LOC = AA12  | IOSTANDARD = LVCMOS15 ;
NET "SW[4]"				LOC = Y13   | IOSTANDARD = LVCMOS15 ;